body{
    margin: 0;
}
#og{
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}
#div1{
    display: flex;
    justify-content: space-between;
    color: blanchedalmond;
    margin: 10px 10px;
    padding: 0px 10px;
    gap: 20px;
}
#div2{
    display: flex;
    justify-content: space-between;
    color: blanchedalmond;
    margin: 10px 10px;
    padding: 0px 10px;
    gap: 20px;
    align-items: center;


}
#div3{
    display: flex;
    justify-content: space-between;
    color: blanchedalmond;
    margin: 10px 10px;
    padding: 0px 10px;
    gap: 20px;


}
a{
    color: blanchedalmond;
    text-decoration: none;
    align-items: center;
}