*{
    margin: 0px;
    padding: 0px;;
}
body{
    background-color: black;
}
nav{
    background-color: blanchedalmond;
    width: 10%;
    height: 191vh;
}
#oglist{
    list-style-type: none;
}
a{
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 25px;
    border-bottom: 2px solid black;
    text-align: center;
}
a:hover{
    background-color: rgb(135, 84, 135);
}
#veglist{
    position: relative;
}
#vegdrop{
    position: absolute;
    left: 100%;
    background-color: aqua;
    list-style-type: none;
    display: none;
    top: 0px;
}
#paneerlist{
    position: relative;
}
#paneerdrop{
    position: absolute;
    left: 100%;
    list-style-type: none;
    display: none;
    background-color: blue;
    top: 0px;
}
#paneerlist:hover #paneerdrop{
    display: block;
}
#veglist:hover #vegdrop{
    display: block;
}