#mi{

    color: rgb(194, 118, 3);
    font-size: 50px;
    /* text-align: center; */
    font-weight: 10000;
    text-transform: capitalize;
    letter-spacing: 40px;
    word-spacing: 30px;
    text-shadow: 0px 0px 0px red;
}

h2{
    display: inline;
    text-align: center;
}

a{

    text-decoration: none;

}

#g{
    
    
    display: block;
    font-size: large;
    text-align: center;
    text-decoration: none;
    color: brown;
    text-transform: capitalize;
    letter-spacing: 30px;
    text-shadow: 40px;
}

#mi:hover{

    color: blue;

    font-size: 80px;

    transition: 3s;

}